<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>64</charcode>
    <chardata>
      <data>48</data>
      <data>8</data>
      <data>8</data>
      <data>20</data>
      <data>36</data>
      <data>102</data>
      <data>255</data>
      <data>102</data>
    </chardata>
  </character>
  <character>
    <charcode>65</charcode>
    <chardata>
      <data>12</data>
      <data>24</data>
      <data>126</data>
      <data>215</data>
      <data>237</data>
      <data>126</data>
      <data>44</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>66</charcode>
    <chardata>
      <data>60</data>
      <data>126</data>
      <data>251</data>
      <data>223</data>
      <data>239</data>
      <data>255</data>
      <data>126</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>67</charcode>
    <chardata>
      <data>3</data>
      <data>7</data>
      <data>15</data>
      <data>30</data>
      <data>62</data>
      <data>124</data>
      <data>248</data>
      <data>224</data>
    </chardata>
  </character>
  <character>
    <charcode>68</charcode>
    <chardata>
      <data>16</data>
      <data>56</data>
      <data>56</data>
      <data>124</data>
      <data>254</data>
      <data>246</data>
      <data>124</data>
      <data>56</data>
    </chardata>
  </character>
  <character>
    <charcode>69</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>24</data>
      <data>60</data>
      <data>60</data>
      <data>24</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>70</charcode>
    <chardata>
      <data>0</data>
      <data>24</data>
      <data>60</data>
      <data>126</data>
      <data>126</data>
      <data>60</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
