<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>32</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>64</charcode>
    <chardata>
      <data>195</data>
      <data>255</data>
      <data>126</data>
      <data>126</data>
      <data>126</data>
      <data>126</data>
      <data>255</data>
      <data>195</data>
    </chardata>
  </character>
  <character>
    <charcode>65</charcode>
    <chardata>
      <data>195</data>
      <data>254</data>
      <data>124</data>
      <data>126</data>
      <data>124</data>
      <data>120</data>
      <data>252</data>
      <data>195</data>
    </chardata>
  </character>
  <character>
    <charcode>66</charcode>
    <chardata>
      <data>192</data>
      <data>228</data>
      <data>104</data>
      <data>120</data>
      <data>112</data>
      <data>112</data>
      <data>252</data>
      <data>194</data>
    </chardata>
  </character>
  <character>
    <charcode>67</charcode>
    <chardata>
      <data>192</data>
      <data>224</data>
      <data>112</data>
      <data>112</data>
      <data>96</data>
      <data>112</data>
      <data>248</data>
      <data>192</data>
    </chardata>
  </character>
  <character>
    <charcode>68</charcode>
    <chardata>
      <data>128</data>
      <data>192</data>
      <data>64</data>
      <data>96</data>
      <data>64</data>
      <data>64</data>
      <data>224</data>
      <data>240</data>
    </chardata>
  </character>
  <character>
    <charcode>69</charcode>
    <chardata>
      <data>0</data>
      <data>192</data>
      <data>0</data>
      <data>64</data>
      <data>0</data>
      <data>64</data>
      <data>192</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>70</charcode>
    <chardata>
      <data>48</data>
      <data>73</data>
      <data>134</data>
      <data>0</data>
      <data>97</data>
      <data>146</data>
      <data>12</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>71</charcode>
    <chardata>
      <data>32</data>
      <data>80</data>
      <data>32</data>
      <data>255</data>
      <data>85</data>
      <data>120</data>
      <data>85</data>
      <data>120</data>
    </chardata>
  </character>
  <character>
    <charcode>72</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>240</data>
      <data>88</data>
      <data>172</data>
      <data>86</data>
      <data>171</data>
    </chardata>
  </character>
  <character>
    <charcode>73</charcode>
    <chardata>
      <data>255</data>
      <data>219</data>
      <data>255</data>
      <data>219</data>
      <data>219</data>
      <data>219</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>74</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>75</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>219</data>
      <data>255</data>
      <data>219</data>
    </chardata>
  </character>
  <character>
    <charcode>76</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>195</data>
      <data>195</data>
      <data>195</data>
      <data>203</data>
      <data>195</data>
      <data>195</data>
    </chardata>
  </character>
  <character>
    <charcode>77</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>15</data>
      <data>21</data>
      <data>42</data>
      <data>85</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>78</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>128</data>
      <data>96</data>
      <data>144</data>
      <data>24</data>
      <data>196</data>
      <data>34</data>
    </chardata>
  </character>
  <character>
    <charcode>79</charcode>
    <chardata>
      <data>36</data>
      <data>146</data>
      <data>73</data>
      <data>146</data>
      <data>36</data>
      <data>34</data>
      <data>146</data>
      <data>36</data>
    </chardata>
  </character>
  <character>
    <charcode>80</charcode>
    <chardata>
      <data>170</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
</charset>
